html,
body {
  height: 100%;
}
nav.primary {
  padding: 10px;
}
nav.primary #logo {
  font-size: 32pt;
}
#container {
  min-height: 100%;
  padding: 20px;
  margin-bottom: -48px;
}
footer.primary {
  padding: 20px;
}
