mobile-response()
  @media screen and (max-width: $mobile-breakpoint)
    {block}

desktop-only-response()
  @media screen and (min-width: $desktop-breakpoint)
    {block}

non-desktop-response()
  @media screen and (max-width: $desktop-breakpoint)
    {block}

