@import url(http://fonts.googleapis.com/css?family=Lato:300,400)

* 
  font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004)

body
  padding: 50px
  font: 20px "Lato", "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

h1
  font-size: 48pt

h1, h2, h3, h4, h5, h6
  font-weight: 300
