$control-panel-desktop-height = 7rem
$control-panel-mobile-height = 7rem
$slide-delay = 0.5s

*, *::before, *::after
  box-sizing: border-box

html, body
  height: 100%
  background: #111
  color: #fff

nav.primary
  #logo
    font-size: 32pt
  padding: 10px

#container
  padding: 20px
  margin-bottom: -48px

#display-background
  position: absolute
  background-color: #000
  top: 0
  left: 0
  bottom: 0
  right: 0
  width: 100%
  height: 100%
  z-index: 10

#next-display-background,
#display-background
  opacity: 0.5
  background-size: cover
  background-position: center

#next-display,
#display
  background-color: transparent
  line-height: 1.1em
  white-space: pre-wrap
  z-index: 100
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  width: 100%
  height: 100%
  display: flex
  text-align: center
  flex-wrap: wrap
  align-items: center
  justify-content: center
  font-size: 72px
  font-weight: 300
  text-shadow: 0px 0.01em 1px #000, 0px 0.01em 0.1em #000, 0px 0px 0.2em #000

#display.switching
  transition: opacity $slide-delay ease // this should match the number in client.coffee
  opacity: 0

#next-display
  opacity: 0

  &.switching
    transition: opacity $slide-delay ease // this should match the number in client.coffee
    opacity: 1


#control-panel
  position: absolute
  bottom: 0
  left: 0
  right: 0
  z-index: 1000

  display: flex
  flex-wrap: wrap

  .control-panel-button
    width: 20%
    height: 50%
    display: flex
    justify-content: center
    align-items: center

    @media screen and (min-width: $desktop-breakpoint)
      width: 10%
      height: 100%

    a
      width: 100%
      height: 100%
      background: #222
      font-size: 3rem
      padding: 10px
      color: #fff
      display: flex
      justify-content: center
      align-items: center
      text-shadow: 0px 1px 2px #000
      transition: background-color 0.2s ease

      @media screen and (max-width: $mobile-breakpoint)
        font-size: 2rem

      &:hover
        background: rgba(255, 255, 255, 0.2)

#slide-grid
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

  overflow-y: auto
  margin: 0
  padding: 5px
  list-style: none
  display: flex
  flex-wrap: wrap
  flex-direction: row
  align-items: flex-start
  align-content: flex-start
  justify-content: center
  padding-bottom: 300px

  &::-webkit-scrollbar-corner
    background: #000

  &::-webkit-scrollbar
    position: absolute
    height: 8px
    width: 8px
    background: transparent

  &::-webkit-scrollbar-thumb
    background: #666
    border-radius: 1ex
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75)

  .slide
    line-height: 1.2em
    text-align: center
    white-space: pre-wrap
    cursor: pointer
    position: relative
    display: inline-block
    background: black
    border-radius: 3px
    transition: border-color 0.2s ease
    font-weight: 300

    border: solid 3px transparent

    margin: 5px
    width: 320px
    height: 180px

    display: flex
    align-items: center
    justify-content: center

    &:hover
      border-color: rgba(255, 255, 255, 0.3)

    &.active:hover
      border-color: rgba(150, 255, 0, 1)

    &.active
      border-color: rgba(150, 255, 0, 0.8)

    .slide-background
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
      width: 100%
      height: 100%
      z-index: 10
      opacity: 1
      background-size: cover
      background-position: center
      // background-image: url('http://theartmad.com/wp-content/uploads/2015/02/Geometric-Wallpaper-7.jpg')

    .slide-title
      opacity: 0.5
      color: #fff
      font-family: monospace
      font-size: 0.6rem
      text-shadow: 0px 1px 1px #000
      position: absolute
      top: 0px
      left: 5px
      z-index: 110

    .slide-content
      font-size: 18px
      text-shadow: 0px 0.01em 1px #000, 0px 0.01em 0.1em #000, 0px 0px 0.2em #000
      z-index: 100

    @media screen and (max-width: $mobile-breakpoint)
      width: 160px
      height: 90px

      .slide-content
        font-size: 9px

footer.primary
  padding: 20px

