doctype html
html(ng-app="LyricScreen")
  head
    include ../partials/header.jade

  body(ng-controller="LyricScreenCtrl")
    include ../partials/main-menu.jade
    include ../partials/slide-grid.jade
    include ../partials/control-panel.jade
    include ../partials/message-console.jade
    include ../partials/display-preview.jade

    include ../partials/footer.jade

