doctype html
html(ng-app="LyricScreen")
  head
    include ../partials/header.hamlc

  body(ng-controller="LyricScreenCtrl")
    include ../partials/main-menu.hamlc
    include ../partials/slide-grid.hamlc
    include ../partials/control-panel.hamlc
    include ../partials/message-console.hamlc
    include ../partials/display-preview.hamlc

    script(src="/js/client.js")

    include ../partials/footer.hamlc

