@import 'variables'
@import '../../../bower_components/font-awesome-stylus/stylus'
@import '../../../bower_components/normalize.styl/normalize'
@import 'lato'

body
  background: #111
  color: #fff
  font-family: Lato, monospace
  font-size: 48px

pre, code
  font-family: Consolas, Monaco, monospace

.sans-serif
  font-family: sans-serif
