@font-face {
  font-family: 'Lato';
  src: url($lato-fonts-root/lato-medium/lato-medium.eot);
  src: local('Lato Medium'), local('Lato-Medium'), url($lato-fonts-root/lato-medium/lato-medium.eot?#iefix) format('embedded-opentype'), url($lato-fonts-root/lato-medium/lato-medium.woff2) format('woff2'), url($lato-fonts-root/lato-medium/lato-medium.woff) format('woff'), url($lato-fonts-root/lato-medium/lato-medium.ttf) format('truetype'), url($lato-fonts-root/lato-medium/lato-medium.svg#lato) format('svg');
  font-weight: 500;
  font-style: normal;
}

