#display-background
  //- {style="background-image=url('http://theartmad.com/wp-content/uploads/2015/02/Geometric-Wallpaper-7.jpg');"}

#display(ng-class="{'switching'=display != nextDisplay}")
  {{ display }}

#next-display-background

#next-display(ng-class="{'switching'=display != nextDisplay}")
  {{ nextDisplay }}

